<div class="sampler" style="background: {{linkColor}};">linkColor</div>
<div class="sampler" style="background: {{bgColor}};">bgColor</div>
<div class="sampler" style="background: {{textColor}};">textColor</div>
<div class="sampler" style="background: {{inactiveTextColor}};">inactiveTextColor</div>
<div class="sampler" style="background: {{separatorColor}};">separatorColor</div>
<hr/>
<div class="sampler" style="background: {{boundsColor}};">boundsColor</div>
<div class="sampler" style="background: {{toolTipColor}};">toolTipColor</div>
<hr/>
<div class="sampler" style="background: {{buttonSelectColor}};">buttonSelectColor</div>
<div class="sampler" style="background: {{separatorShadowColor}};">separatorShadowColor</div>
<div class="sampler" style="background: {{separatorHighlightColor}};">separatorHighlightColor</div>
