<div class="sampler" style="background: {{panelBgColor}};">panelBgColor</div>
<div class="sampler" style="background: {{toolTipColor}};">toolTipColor</div>
<div class="sampler" style="background: {{buttonSelectColor}};">buttonSelectColor</div>
<div class="sampler" style="background: {{separatorFgColor}};">separatorFgColor</div>
<div class="sampler" style="background: {{separatorBgColor}};">separatorBgColor</div>
<div class="sampler" style="background: {{separatorShadowColor}};">separatorShadowColor</div>
<div class="sampler" style="background: {{separatorHighlightColor}};">separatorHighlightColor</div>
<div class="sampler" style="background: {{boundsColor}};">boundsColor</div>
<div class="sampler" style="background: {{labelFgColor}};">labelFgColor</div>
<div class="sampler" style="background: {{tabbedPaneBgColor}};">tabbedPaneBgColor</div>
<div class="sampler" style="background: {{activeTextColor}};">activeTextColor</div>
<div class="sampler" style="background: {{inactiveTextColor}};">inactiveTextColor</div>
<div class="sampler" style="background: {{linkColor}};">linkColor</div>
