
{{#*inline "mavenCoords"}}
    <span class="mvn-coords">
    {{#if flags.hidemavengroups}}
            <span class="mvn-name">{{coords.name}}</span>
            <span class="mvn-version">{{coords.version}}</span>
        {{else}}
            <span class="mvn-group">{{coords.group}}</span>
            : <span class="mvn-name">{{coords.name}}</span>
            <span class="mvn-version">{{coords.version}}</span>
        {{/if}}
    </span>
    <span class="after-mvn-coords"> </span>
{{/inline}}

{{#*inline "renderNode"}}
    {{#if node.nested.isEmpty}}
        <span class="tree_label vulnerable-dep">
            {{> @partial-block }}
        </span>
    {{else}}
        {{! only auto-expand any level where we have have remediations further down the tree }}
        {{#if (hasNestedRemediations node)}}
            <input type="checkbox" checked="checked" id="{{nodeId}}" />
        {{else}}
            <input type="checkbox" id="{{nodeId}}" />
        {{/if}}

        <label class="tree_label" for="{{nodeId}}">
            {{> @partial-block }}
        </label>
    {{/if}}
{{/inline}}


{{#*inline "remediationNested"}}
    {{#each seq as |node|}}
        {{var "nodeId" (concat idprefix "_" @index)}}
        <li>
            {{#if node.nested.isEmpty}}
                <span class="tree_label">
                    {{>mavenCoords coords=node.content}}
                </span>
            {{else}}
                <input type="checkbox" checked="checked" id="{{nodeId}}" />
                <label class="tree_label" for="{{nodeId}}">
                    {{>mavenCoords coords=node.content}}
                </label>
                <ul>
                    {{>remediationNested seq=node.nested idprefix=nodeId}}
                </ul>
            {{/if}}
        </li>
    {{/each}}
{{/inline}}

{{#*inline "nested"}}
    {{#each seq as |node|}}
        {{! For each top-level path under the vulnerability... }}
        {{var "nodeId" (concat idprefix "_" @index)}}
        <li id="li-{{nodeId}}">
            {{#if toplevel}}
                {{! top level? create a link to the build file where it's defined }}
                {{#> renderNode}}
                    <a onclick='event.stopPropagation();'
                       href="http://idenav/artifact/{{node.content.module}}"
                       target="_blank">
                        {{>mavenCoords coords=node.content.module}}
                    </a>
                {{/renderNode}}
            {{else}}
                {{#> renderNode}}
                    {{>mavenCoords coords=node.content.module}}
                {{/renderNode}}
            {{/if}}

            {{! remediations : Map[String, Seq[MiniTree[MavenCoords]]] }}
            {{#each node.content.remediations as |remeds|}}
            {{! wheeee, we can suggest a fix! }}
                <a class="upgrade-link" id="upgrade-link-{{nodeId}}" data-nodeid="{{nodeId}}" >
                    suggested upgrade: {{@key}}
                </a>
                <div class="remediations-container">
                    <div class="remediations" id="remediations-{{nodeId}}">
                        <span class="remediation-header">Transitives after upgrade:</span>
                        {{#if remeds.isEmpty}}
                            <span class="remediation-header">— None —</span>
                        {{else}}
                            <ul class="remediation tree">
                                {{>remediationNested seq=remeds idprefix=(concat nodeId "_remed")}}
                            </ul>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
            {{#if node.nested.nonEmpty}}
                <ul>
                    {{> nested seq=node.nested toplevel=false idprefix=nodeId}}
                </ul>
            {{/if}}
        </li>
    {{/each}}
{{/inline}}

<div class="issue-card {{#if @last}}issue-card-last{{/if}}">
    <div class="issue-title__name">
        {{svg (concat "icon/" spec.type) width=22 height=22}}
        <span class="spec-title" title="{{spec.id}}">{{spec.title}}</span>
        <div class="vuln-origin">
            on {{>mavenCoords coords=spec.module}}
        </div>
        <a href="{{spec.url}}"  class="issue-title__link" target="_blank">details</a>
    </div>
    <div class="issue-body issue-body-{{spec.severity}}">
        {{#if derivations.nonEmpty}}
            <div class="issue-subhead">Via:</div>
            <ul class="tree">
                {{! skip the root, it's just the project }}
                {{> nested seq=derivations.head.nested toplevel=true idprefix=(concat spec.id "_" card_id)}}
            </ul>
        {{/if}}
    </div>
</div>


