
{{#*inline "mavenCoords"}}
    {{#if flags.hidemavengroups}}
        <span class="mvn-name">{{coords.name}}</span>
        <span class="mvn-version">{{coords.version}}</span>
    {{else}}
        <span class="mvn-group">{{coords.group}}</span>
        : <span class="mvn-name">{{coords.name}}</span>
        <span class="mvn-version">{{coords.version}}</span>
    {{/if}}
{{/inline}}

{{#*inline "renderNode"}}
    {{#if node.nested.isEmpty}}
        <span class="tree_label vulnerable-dep">
            {{> @partial-block }}
        </span>
    {{else}}
        <input type="checkbox" checked="checked" id="{{nodeId}}" />
        <label class="tree_label" for="{{nodeId}}">
            {{> @partial-block }}
        </label>

    {{/if}}
{{/inline}}

{{#*inline "nested"}}
    {{#each seq as |node|}}
        {{var "nodeId" (concat idprefix "_" @index)}}
        <li>
            {{#if toplevel}}
                {{#> renderNode}}
                    <a onclick='event.stopPropagation();' href="http://idenav/artifact/{{node.content.module}}" target="_blank">{{>mavenCoords coords=node.content.module}}</a>
                {{/renderNode}}
            {{else}}
                {{#> renderNode}}
                    {{>mavenCoords coords=node.content.module}}
                    {{#each node.content.remediations as |remed|}}
                        <span style="background: #692023">
                            upgrade: {{@key}}
                        </span>
                    {{else}}
                    {{/each}}
                {{/renderNode}}
            {{/if}}

            {{#if node.nested.nonEmpty}}
                <ul>
                    {{> nested seq=node.nested toplevel=false idprefix=nodeId}}
                </ul>
            {{/if}}
        </li>
    {{/each}}
{{/inline}}

<div class="issue-card">
    <div class="issue-title__name">
      {{svg (concat "icon/" spec.type) width=22 height=22}}
      <a href="{{spec.url}}" class="issue-title__link" target="_blank">{{spec.title}}</a> on {{>mavenCoords coords=spec.module}}
        {{!svg "icon/extern" width=18 height=18}}
    </div>
    <div class="issue-body issue-body-{{spec.severity}}">
        {{#if derivations.nonEmpty}}
            <div class="issue-subhead">Introduced Through:</div>
            <ul class="tree">
                {{> nested seq=derivations toplevel=true idprefix=(concat spec.id "_" card_id)}}
            </ul>
        {{/if}}
    </div>
</div>
